
.gray {
  background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 16%, rgba(219,219,219,1) 32%, rgba(24,38,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(16%, rgba(209,209,209,1)), color-stop(32%, rgba(219,219,219,1)), color-stop(100%, rgba(24,38,21,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 16%, rgba(219,219,219,1) 32%, rgba(24,38,21,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 16%, rgba(219,219,219,1) 32%, rgba(24,38,21,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 16%, rgba(219,219,219,1) 32%, rgba(24,38,21,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 16%, rgba(219,219,219,1) 32%, rgba(24,38,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#182615', GradientType=0 );
  color: black;

}
.black {
	color: white;
	background: rgba(147,206,222,1);
background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(144,205,220,1) 1%, rgba(0,153,153,1) 43%, rgba(0,153,153,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(1%, rgba(144,205,220,1)), color-stop(43%, rgba(0,153,153,1)), color-stop(100%, rgba(0,153,153,1)));
background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(144,205,220,1) 1%, rgba(0,153,153,1) 43%, rgba(0,153,153,1) 100%);
background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(144,205,220,1) 1%, rgba(0,153,153,1) 43%, rgba(0,153,153,1) 100%);
background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(144,205,220,1) 1%, rgba(0,153,153,1) 43%, rgba(0,153,153,1) 100%);
background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(144,205,220,1) 1%, rgba(0,153,153,1) 43%, rgba(0,153,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#009999', GradientType=0 );
}
.red {
  color: white;
	background: rgba(225,9,13,1);
	background: -moz-linear-gradient(top, rgba(225,9,13,1) 0%, rgba(234,31,38,1) 32%, rgba(201,8,18,1) 51%, rgba(128,21,26,1) 84%, rgba(128,21,26,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,9,13,1)), color-stop(32%, rgba(234,31,38,1)), color-stop(51%, rgba(201,8,18,1)), color-stop(84%, rgba(128,21,26,1)), color-stop(100%, rgba(128,21,26,1)));
	background: -webkit-linear-gradient(top, rgba(225,9,13,1) 0%, rgba(234,31,38,1) 32%, rgba(201,8,18,1) 51%, rgba(128,21,26,1) 84%, rgba(128,21,26,1) 100%);
	background: -o-linear-gradient(top, rgba(225,9,13,1) 0%, rgba(234,31,38,1) 32%, rgba(201,8,18,1) 51%, rgba(128,21,26,1) 84%, rgba(128,21,26,1) 100%);
	background: -ms-linear-gradient(top, rgba(225,9,13,1) 0%, rgba(234,31,38,1) 32%, rgba(201,8,18,1) 51%, rgba(128,21,26,1) 84%, rgba(128,21,26,1) 100%);
	background: linear-gradient(to bottom, rgba(225,9,13,1) 0%, rgba(234,31,38,1) 32%, rgba(201,8,18,1) 51%, rgba(128,21,26,1) 84%, rgba(128,21,26,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1090d', endColorstr='#80151a', GradientType=0 );
}

table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	/*text-shadow: 1px 1px 0px #fff;*/
	background: #eaebec;
	margin:10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.bg-primary {
	color: white;
}


table tr {
	text-align: center;

}
